:root {
    --bitcoin-orange: #f7931a;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black-1 : #282623;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}



